[Unit]
Description=Simple App SupVinci
After=multi-user.target
[Service]
Type=simple
Restart=always
ExecStart=gunicorn --chdir /home/ec2-user/ -b :80 app:create_app()
[Install]
WantedBy=multi-user.target
